/* standard css */

* {
  /* font-size: 100%; */
  scroll-behavior: smooth;
  scroll-padding-top: 180px;
  margin: 0;
  padding: 0;
}

p {
  font-family:'Amiri',"Times New Roman", Times, serif;
  font-weight: lighter;
  line-height: 2em;
}

a {
  color: #a5a5a5;
  text-decoration: none;
}

img {
  width: 100%;
  border: 0.3px solid #a5a5a5;
}

h1 {
  font-family: "Jost", sans-serif;
  letter-spacing: 0.2em;
  margin-right: -0.2em;
  margin-top: 50px;
  display: inline-block;
  font-size: 1em;
}


h3 {
  font-family:'Amiri',"Times New Roman", Times, serif;
  
}

li {
  list-style: none;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2em;
}

li a:hover {
  color:black;
  transition: 0.8s;
}

header {
  width: 100%;
  height: 180px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;
}

header ul {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

.hamburger {
  display:none;
}

.container {
  max-width: 1092px;
  margin: 0 auto;
  padding: 0 5px;
}

.container p {
  padding: 10px 0px;
}

.logo img {
  width: 220px;
  margin: 30px 0px;
  border: none;
}

.main-visual {
  margin-top: 200px;
}

.sns-main-visual {
  display: flex;
  justify-content: end;
}

.insta-img {
  width: 42px;
  height: 42px;
  border: none;
}

.fb-img {
  width: 40px;
  height: 40px;
  border: none;
}

#about {
  background-color: #8e8181;
  text-align: center;
  color: white;
  padding-bottom: 100px;
}

.about-line {
  border: solid 1px white;
  border-left: none;
  border-bottom: none;
  width: 80px;
  margin: 5px auto;
}

.about-text {
  text-align: justify;
  margin:10px;
}

#sp-stones {
  background-color: #ffffff;
  text-align: center;
  color: #3a3a3a;
  padding-bottom: 100px;
}

.wrapper-top {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.wrapper-bottom {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 80px;
}

.sp-line {
  border: solid 1px #3a3a3a;
  border-left: none;
  border-bottom: none;
  width: 270px;
  margin: 5px auto;
}

.sp-img {
  width: 100%;
  height: auto;
  min-width: 49%;
}

.sp-content {
  padding: 30px;
}

.sp-text {
  text-align: justify;
}

#jewellery {
  background-color: #f1efee;
  text-align: center;
  color: #3a3a3a;
  padding-bottom: 100px;
}

.jewellery-line {
  border: solid 1px #3a3a3a;
  border-left: none;
  border-bottom: none;
  width: 130px;
  margin: 5px auto 50px;
}

.jewellery-img {
  max-width: 1092px;
  height: auto;
  margin: auto;
}

.jewellery-text {
  text-align: justify;
  margin:10px;
}

.container-cm {
  display: flex;
  max-width: 1092px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.wrapper {
  width: 50%;
}

div.desc {
  padding-bottom: 20px;
  text-align: center;
}

#custom-made {
  background-color: #ffffff;
  text-align: center;
  color: #3a3a3a;
  padding-bottom: 100px;
}

.cm-line {
  border: solid 1px #3a3a3a;
  border-left: none;
  border-bottom: none;
  width: 170px;
  margin: 5px auto 30px;
}

.cm-img {
  max-width: 100%;
}

#contact {
  background-color: #8e8181;
  text-align: center;
  color: white;
  padding-bottom: 100px;
}

.contact-line {
  border: solid 1px white;
  border-left: none;
  border-bottom: none;
  width: 110px;
  margin: 5px auto 30px;
}

form {
  width: 80%;
  margin: auto;
  
}

.form-control {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin: 5px auto;
  border: none;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1em;
}

.text-control {
  width: 100%;
  height: 300px;
  padding: 5px;
  margin: 5px auto;
  border: none;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1em;
}

input {
  color: #8e8181;
}

textarea {
  color: #8e8181;
}

.btn {
  all:unset;
  width: 200px;
  height: 50px;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 1em;
  border: none;
  color: #8e8181;
  background-color:white;
  
}

.sns-contact {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.insta-contact {
  width: 50px;
  height: 50px;
  border: none;
}

.fb-contact {
  width: 49px;
  height: 49px;
  border: none;
}

footer {
  text-align: center;
  color: #8e8181;
  font-family: "Jost", sans-serif;
  font-weight: 200;
}

.topNav {

  display:none;
}


.thankyou {
  text-align: center;
  margin-top:20%;
}








/* media query mobile normal*/
@media only screen and (max-width: 800px) {


* {
    /* font-size: 100%; */
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    margin: 0;
    padding: 0;
  }

  .hamburger {
    background-color: white;
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 35px;
    right: 25px;
    border: 0;
    cursor: pointer;
    z-index: 101;
    opacity: 100%;
    
  }

  .hamburger .line {
    background-color: #3a3a3a;
    display: block;
    margin: 10px auto;
    height: 1px;
    width: 50px;
    transition: all 0.1s ease-in;
  }

  .hamburger.open {
    transition: all 0.2s ease-in;
  }

  .hamburger.open .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    height: 1px;
    width: 50px;
  }

  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
    height: 1px;
    width: 50px;
  }


  nav {
    display: none;
  }

  .logo img {
  width: 120px;
  padding-left:20px;
  border: none;
  }

  header {
    width: 100%;
    height: 100px;
    text-align:left;
    position: fixed;
    background-color: white;
  }

  .main-visual {
    margin-top: 100px;
    width: 100%;
  }

  .insta-img {
    width: 50px;
    height: 50px;
    border: none;
  }
  
  .fb-img {
    width: 48px;
    height: 48px;
    border: none;
  }
  .container {
    max-width: 100%;
    padding: 0px;
  }

  #about {
    padding: 2%;
  }

  #sp-stones {
    background-color: #ffffff;
    text-align: center;
    color: #3a3a3a;
    padding-bottom: 100px;
  }

  .sp-line {
    width: 280px;
  }

  .sp-content {
    padding: 20px;
  }

  .wrapper-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    text-align: justify;
  }

  .wrapper-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    text-align: justify;
  }

  h1 {
    font-size: 1em;
  }

  h3 {
    text-align: center;
    font-size: 1em;
    
  }

  #jewellery {
    padding: 2%;
  }

  #sp-stones {
    padding-bottom: 30px;
  }

  

  .wrapper {
    width: 100%;
  }

  form {
    text-align: center;
  
  }
  .form-control {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 5px auto;
    border: none;
    font-family: sans-serif;
    font-weight: 100;
  }
  
  .text-control {
    width: 100%;
    height: 300px;
    padding: 5px;
    margin: 5px auto;
    border: none;
    font-family: sans-serif;
    font-weight: 100;
  }
  input {
    color: #8e8181;
    margin: auto;

  }

  textarea {
    color: #8e8181;
    margin: auto;
  }

 

  .btn {
    width: 200px;
    height: 50px;
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #8e8181;
    background-color:white;
  
  }

  footer {
    font-size: 0.6em;
    padding-bottom:40px;
    
  }

  #scrollUpBtn {
  display: none;
  mix-blend-mode: difference;
  opacity: 80%;
  font-size: 30px;
  border: none;
  padding: 0px;
  position: fixed;
  right: 13px;
  bottom: 10px;
  z-index: 99;
  cursor: pointer;
  background-color: #8e8e8e;
  border-radius: 10%;
  color: white;
  cursor: pointer;
  line-height: 30px;
  width: 30px;
  transition: all 0.5s ease-out;
}

/* Responsive menu */
.topNav {
  background-color: white;
  width:100vw;
  height:50vh;
  display: none; /* important */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  transition: 0.3s;
  z-index: 120;
  opacity: 0;
}

.topNav ul {
  list-style: none;
  font-size: 0.7rem;
  flex-direction: column;
  overflow: hidden;
}

.topNav.open {
  display: flex; /* important */
  transition-duration: 0.3s;
  opacity: 1;
}

.topNav li {
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.topNav a {
  cursor: pointer;
  color: #8e8181;
  font-family: "Jost", sans-serif;
  font-weight: 200;
  font-size: 2em;
}

.top-nav-btn.open {
  transform: translateY(100vh);
}

#upBtn {
  display: none;
  border: none;
  position: fixed;
  bottom: -1px;
  background-color:  #8e8181;
  color: rgb(255, 255, 255);
  cursor: pointer;
  height:40px;
  width: 100%;
  z-index: 101;
  font-family: "Jost", sans-serif;
  font-weight: 200;
  font-size: 1em;
}

.blocker {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100vh;
  left: 0px;
  content: " ";
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.blocker.open {
  transform: translateY(100vh);
}


}
@media only screen and (max-width: 600px) {

  .container-cm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}

/* media query mobile small*/
@media only screen and (max-width: 380px) {
  .topNav {
    background-color: white;
    width:100vw;
    height:70vh;
    display: none; /* important */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    transition: 0.3s;
    z-index: 120;
    opacity: 0;
  }
  .topNav.open {
    display: flex; /* important */
    transition-duration: 0.3s;
    opacity: 1;
  }


}


